body{
    background-color:rgb(199, 155, 199);
    text-align:center;
    padding:0;
    margin:0;
}
h1{
    color:purple;
    font-size:4rem;
    margin:0px;
    margin-top:40px;
    padding:0px;
}
.container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.input{
    font-size:1rem;
    border:2px solid purple;
    border-radius:10%;
    padding:8px;
    margin-top:20px;
}
.heart{
    font-size:10rem;
   color:red;
   margin:20px 10px;
}
.button{
    font-size:1rem;
    border:2px solid purple;
    border-radius:30%;
    padding:8px;
}

#text{
    font-size:1.5rem;
    font-weight:bold;
    color:purple;
    
}
.LoveValue{
    font-size:4rem;
   color:red;
    
}
#remark{
    font-size:5rem;
    color:red;
    font-weight:bold;
    
}